@import "base";

$panel-count: 3;
$panel-gutter-size: 4px;

$panel-width: 136px;
$panel-height: 256px;
$slice-width: 78px;

$small-panel-width: 128px;
$small-panel-height: 256px;
$small-slice-width: 64px;

$large-panel-width: 256px;
$large-panel-height: 512px;
$large-slice-width: 128px;

@function calc-showcase-width($panel-width, $slice-width) {
  @return $panel-width + ($panel-count - 1) * $slice-width + $panel-gutter-size;
}

$showcase-width: calc-showcase-width($panel-width, $slice-width);
$small-showcase-width: calc-showcase-width($small-panel-width, $small-slice-width);
$large-showcase-width: calc-showcase-width($large-panel-width, $large-slice-width);

.showcase {
  background-color: black;
  box-sizing: border-box;
  height: $panel-height;
  padding-bottom: $panel-gutter-size;
  padding-left: $panel-gutter-size;
  padding-top: $panel-gutter-size;

  @include media-small {
    float: left;
    height: $small-panel-height;
    width: $small-showcase-width;
  }

  @include media-large {
    height: $large-panel-height;
    width: $large-showcase-width;
  }
}

//  Panel image containers
.showcase div {
  border-right: $panel-gutter-size solid black;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  height: $panel-height - $panel-gutter-size * 2;
  margin: 0;
  max-width: 33.33%;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s ease;

  @include media-small {
    height: $small-panel-height - $panel-gutter-size * 2;
    position: relative;
    max-width: none;
    width: $small-slice-width;
  }

  @include media-large {
    height: $large-panel-height - $panel-gutter-size * 2;
    max-width: none;
    width: $large-slice-width;
  }
}

.showcase img {
  box-sizing: border-box;
  filter: grayscale(100%);
  height: $panel-height;
  transition: all 0.3s ease;

  @include media-small {
    margin-left: -50%;
    height: $small-panel-height;
    width: $small-panel-width;
  }

  @include media-large {
    height: $large-panel-height;
    width: $large-panel-width;
  }
}

.showcase img:hover:not(.selected) {
  filter: grayscale(50%);
}

div.selected {
  @include media-small {
    width: $small-panel-width;
  }

  @include media-large {
    width: $large-panel-width;
  }
}

div.selected img {
  filter: none;
  margin-left: 0%;
}

.summaryContainer {
  background-color: black;
  border-top: $border-primary-ornate;
  box-sizing: border-box;
  height: $panel-height;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;

  @include media-small {
    border-top: none;
    border-left: $border-primary-ornate;
    height: $small-panel-height;
    margin-left: $small-showcase-width;
    width: calc(100% - #{$small-showcase-width});
  }

  @include media-large {
    height: $large-panel-height;
    margin-left: $large-showcase-width;
    width: calc(100% - #{$large-showcase-width});
  }
}

.summary {
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  position: relative;
  // text-overflow: clip;
  width: 100%;
}

.summaryContent {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: auto;
  padding: 1em;
  position: absolute;
  top: 0;
  width: 100%;

  h2 {
    color: $secondary-color;
    margin: 0;
    padding: 0;
  }
}
