// *, *:before, *:after {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }

@import "stylesheets/base";
@import "stylesheets/collaborators";
@import "stylesheets/media";
@import "stylesheets/showcase";
@import "stylesheets/timeline";

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: $page-bg-color;
  color: $text-color;
  font-family: $font-primary;
  margin: 0;
  padding: 0;
  width: 100%;
}

strong {
  color: $secondary-color;
}

em {
  color: $primary-color;
}

a {
  color: $primary-color;
  transition: color 0.3s ease;

  &:hover {
    color: $secondary-color;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-color;
  font-family: $font-secondary;
  padding: 0 1rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;

  @include media-large {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 0.75rem;

  @include media-large {
    font-size: 1.1rem;
  }
}

p {
  text-align: left;
}

ul, li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.root-container {
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  max-width: 60em;
  padding: 0;
  text-align: center;
  width: 100%;
}

.section-container {
  background-color: $section-bg-color;
  border: $border-primary-ornate;
  border-radius: 0.25em;
  box-sizing: border-box;
  margin: 0 0 2em 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.section-title {
  background-color: $section-title-bg-color;
  border-bottom: $border-primary-ornate;
  box-sizing: border-box;

  margin: 0;
  padding: 1em;

  h2, h3 {
    margin: 0;
    padding: 0;
  }
}

.section-content {
  box-sizing: border-box;
  padding: 1em;
}

.solo-img {
  border: $border-primary-ornate;
  border-radius: 0.25em;
  box-sizing: border-box;
  margin-bottom: 2em;
  max-width: 60em;
  width: 100%;
}

#title {
  text-align: center;

  h1 {
    font-size: 1.5rem;

    @include media-small {
      font-size: 3rem;
    }

    @include media-medium {
      font-size: 4rem;
    }
  }

  img {
    border: 2px solid $primary-color;
    border-radius: 50%;
    margin: 2em auto;
    width: 175px;

    @include media-medium {
      width: 350px;
    }
  }
}

.books-content {
  height: 100%;
  margin: 0 auto;
  min-height: 12em;

  p {
    text-align: left;
  }

  ul li {
    padding-bottom: 1em;
    text-align: left;

    @include media-small {
      padding-bottom: 0;
    }
  }

  img {
    box-shadow: $img-box-shadow;
    margin: 0 auto;
    max-height: 10em;
    height: 12em;

    @include media-medium {
      float: left;
      margin-right: 1em;
    }
  }
}
